{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <style>
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h1, h2, h3 {
  text-align: center;
  color: #fcfafa;
}

h1 {
  margin-top: 2em;
  background-color: #115299;
  font-size: 2rem;
  padding: 0.5em 1em;
  color: white;
}

h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  color: rgb(252, 248, 248);
}
h3 {
  font-size: 1.5rem;
  margin-top: 20px;
  color: rgb(8, 8, 8);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  padding: 1em;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #eee;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.action-buttons a {
  text-decoration: none;
  color: #f4f6f8;
}

.action-buttons a:hover {
  color: #0056b3;
}



.semc_create-button,
.semc_create-button2 {
  background-color: #4caf50;
  color: #fff;
}

.beneficiary_detail-button {
  background-color: #5da166;
  color: #fff;
}

.meter {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.meter span {
  display: block;
  height: 100%;
  width: 0;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.5s ease;
}


.section-heading {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
  z-index: 1; /* Ensure the heading stays on top */
}

.section-heading::after {
  content: "";
  display: block;
  width: 100%; /* Adjust the width of the band */
  height: 40px; /* Adjust the thickness of the band */
  background-color: #535457; /* Adjust the color of the band */
  position: absolute;
  bottom: -9px; /* Adjust the distance of the band from the heading */
  left: 0;
  z-index: -1; /* Push the band behind the heading */
  border-radius: 5px; /* Adjust the border-radius if needed */
}
.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary {
    background-color: #0e6d32; /* Green */
}

.btn-danger {
    background-color: #f44336; /* Red */
}

.btn:hover {
    opacity: 0.8;
}

.btnx {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btnx-primary {
    background-color: #0e6d32; /* Green */
}

.table-container {
        overflow-x: auto;
        width: 80%;
        margin: 40px auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .table-container table {
        border-collapse: collapse;
        width: 100%;
    }
    .table-container th, .table-container td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }
    .table-container th {
        background-color: #f0f0f0;
    }
    .table-container td {
        border-top: 1px solid #fff;
    }
    .table-container td:first-child {
        border-left: 1px solid #fff;
    }
    .table-container td:last-child {
        border-right: 1px solid #fff;
    }
    .action-buttons {
        display: flex;
        gap: 10px;
    }
    .update-button {
        background-color: #cf7f07;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .delete-button {
    background-color: #ac0606;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .detail-button {
    background-color: #098009;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .update-button:hover, .delete-button:hover, .detail-button:hover {
        background-color: #bbc4bc;
    }
  .progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
}

.progress {
  height: 100%;
  background-color: #007bff;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}
    </style>
</head>
<body>
  
    <h1 style="text-align: center; margin-top: 2em; color: rgb(12, 12, 12);">Beneficiary Details for <span style="color: white;">{{ beneficiary.name_of_participant }}</span></h1><span style="color:rgb(241, 244, 242)">{{ person.Client_Name }}</span></h1>
    
    <!-- <div class="table-container">
      <table>
          <tr>
              {% if beneficiary.participant_photo %}
              <td><img src="{{ beneficiary.participant_photo.url }}" alt="Beneficiary Photo" class="profile-photo"></td>
              {% else %}
              <td><p>No photo available</p></td>
              {% endif %}
          </tr>
      </table> -->
  
   
<div class="table-container">
          <table>
            <tr><h3>Beneficiary Information</h3></tr>

            <tr>
                <th>Group name</th>
                <td>{{ beneficiary.group }}</td>
                <th>Nationality</th>
                <td>{{ beneficiary.nationality }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ beneficiary.region }}</td>
                <th>District</th>
                <td>{{ beneficiary.district }}</td>
            </tr>
            <tr>
                <th>Settlement</th>
                <td>{{ beneficiary.settlement }}</td>
                <th>Household ID</th>
                <td>{{ beneficiary.household_id }}</td>
            </tr>
            <tr>
                <th>Name of Participant</th>
                <td>{{ beneficiary.name_of_participant }}</td>
                <th>Name of Household head</th>
                <td>{{ beneficiary.name_of_household_head }}</td>
            </tr>
            <tr>
                <th>Household head phone number</th>
                <td>{{ beneficiary.household_head_phone }}</td>
                <th>Participant gender</th>
                <td>{{ beneficiary.gender_of_participant }}</td>
            </tr>
            <tr>
                <th>Participant age</th>
                <td>{{ beneficiary.participant_age }}</td>
                <th>Relationship to head of household</th>
                <td>{{ beneficiary.relationship_with_household_head }}</td>
            </tr>
            <tr>
                <th>Gender of head of household</th>
                <td>{{ beneficiary.gender_hhh }}</td>
                <th>Age of head of household</th>
                <td>{{ beneficiary.age_of_hhh }}</td>
            </tr>
            <tr>
                <th>Disability of head of household</th>
                <td>{{ beneficiary.disablity_of_hhh }}</td>
                <th>Marital status</th>
                <td>{{ beneficiary.marital_status }}</td>
            </tr>
            <tr>
                <th>Educational level</th>
                <td>{{ beneficiary.education_level }}</td>
                <th>Religion</th>
                <td>{{ beneficiary.religion }}</td>
            </tr>
            <tr>
                <th>LPD Component</th>
                <td>{{ beneficiary.lpd_component }}</td>
                <th>GFA Status</th>
                <td>{{ beneficiary.gfa_status }}</td>
            </tr>
            <tr>
                <th>Member ID</th>
                <td>{{ beneficiary.id }}</td>
                <th>Beneficiary Status</th>
                {% if beneficiary.beneficiary_status == 'Enrolled' %}
                <td>  <span style="color: rgb(10, 151, 29)">{{ beneficiary.beneficiary_status }}</span></td>
                {% elif beneficiary.beneficiary_status == 'Exited' %}
                <td>  <span style="color: rgb(190, 11, 11)">{{ beneficiary.beneficiary_status }}</span></td>
                {% else %}
                {{ beneficiary.beneficiary_status }}
                {% endif %}

            </tr>
          </table>
  </div>

  

<p>
<td>
    <!-- Add more fields as needed -->
    <tr class="action-buttons" style="display: flex; font-size: 0.7rem;">
    <a href="{% url 'beneficiary_update' beneficiary.pk %}"  data-toggle="tooltip" title="Edit this beneficiary">Edit</a>

    <a href="{% url 'beneficiary_delete' beneficiary.pk %}" data-toggle="tooltip" title="Delete this beneficiary">Delete</a>
    <a href="{% url 'group_detail' beneficiary.group.pk %}" >Back to Group Details</a>
  </tr>
</td>

</p>
<p>
  <a href="{% url 'add_nutricash_beneficiary' beneficiary.pk %}" class="btn btn-primary">Add Nutricash Beneficiary</a> <a href="{% url 'add_sage_beneficiary' beneficiary.pk %}" class="btn btn-primary">Add SAGE Beneficiary</a>   <a href="{% url 'add_finlit_beneficiary' beneficiary.pk %}" class="btn btn-primary">Add Fin Lit Beneficiary</a>
</p>
<p>
  
</p>


<div>
  <h2 class="section-heading">Nutricash Beneficiaries</h2>

  {% if nutricash_beneficiaries %}
  <table class="table-container">
    <thead>
        <tr>
            <th>Name</th>
            <th>ID Type</th>
            <th>ID Number</th>
            <th>Pregnant or Lactating</th>
            <th>Beneficiary Status</th>
            <th>Action buttons</th>
        </tr>
    </thead>
    <tbody>
        {% for nutricashbeneficiary in nutricash_beneficiaries %}
        <tr>
            <td>{{ nutricashbeneficiary.nutricash_beneficiary_name }}</td>
            <td>{{ nutricashbeneficiary.ID_type }}</td>
            <td>{{ nutricashbeneficiary.ID_number }}</td>
            <td>{{ nutricashbeneficiary.pregnant_or_lactating }}</td>
            <td>{{ nutricashbeneficiary.beneficiary_status }}</td>
            <td class="action-buttons">
                <a href="{% url 'nutricashbeneficiary_update'  nutricashbeneficiary.pk %}" class="update-button">Update</a>
                <a href="{% url 'nutricashbeneficiary_delete'  nutricashbeneficiary.pk %}" class="delete-button">Delete</a>
                <a href="{% url 'nutricashbeneficiary_detail'  nutricashbeneficiary.pk %}" class="detail-button">View Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  {% else %}
    <p>No Nutricash beneficiary associated with this beneficiary.</p>
  {% endif %}
</div>
<!-- <a href="{% url 'spnutricash_create' beneficiary.pk %}"  class="spnutricash_create-button">Add Nutricash Beneficiary Record</a> -->

<div>
  <h2 class="section-heading">SAGE Beneficiaries</h2>

  {% if sage_beneficiaries %}
    <table class="table-container">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID Type</th>
          <th>ID Number</th>

          <th>Beneficiary Status</th>
          <th>Action buttons</th>
        </tr>
      </thead>
      <tbody>
        {% for sagebeneficiary in sage_beneficiaries %}
        <tr>
          <td>{{ sagebeneficiary.candidate_name }}</td>
          <td>{{ sagebeneficiary.ID_type }}</td>
          <td>{{ sagebeneficiary.candidate_individual_id }}</td>
>
          <td>{{ sagebeneficiary.beneficiary_status }}</td>
          <td class="action-buttons" style="display: flex; font-size: 0.7rem;">
            <a href="{% url 'sagebeneficiary_update' sagebeneficiary.pk %}" class="update-button">Update</a>
            <a href="{% url 'sagebeneficiary_delete' sagebeneficiary.pk %}" class="delete-button">Delete</a>
            <a href="{% url 'sagebeneficiary_detail' sagebeneficiary.pk %}" class="detail-button">View Details</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No SAGE beneficiary associated with this beneficiary.</p>
  {% endif %}
</div>






<div>
  <h2 class="section-heading">Financial Literacy Beneficiaries</h2>

  {% if finlit_beneficiaries %}
    <table class="table-container">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID Type</th>
          <th>ID Number</th>

          <th>Beneficiary Status</th>
          <th>Action buttons</th>
        </tr>
      </thead>
      <tbody>
        {% for finlit_beneficiary in finlit_beneficiaries %}
        <tr>
          <td>{{ finlit_beneficiary.candidate_name }}</td>
          <td>{{ finlit_beneficiary.ID_type }}</td>
          <td>{{ finlit_beneficiary.candidate_individual_id }}</td>
>
          <td>{{ finlit_beneficiary.beneficiary_status }}</td>
          <td class="action-buttons" style="display: flex; font-size: 0.7rem;">
            <a href="{% url 'finlitbeneficiary_update' finlit_beneficiary.pk %}" class="update-button">Update</a>
            <a href="{% url 'finlitbeneficiary_delete' finlit_beneficiary.pk %}" class="delete-button">Delete</a>
            <a href="{% url 'finlitbeneficiary_detail' finlit_beneficiary.pk %}" class="detail-button">View Details</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No Financial Literacy beneficiary associated with this beneficiary.</p>
  {% endif %}
</div>




























    <h2 class="section-heading">SEMC Coaching records for <span style="color: rgb(218, 243, 73);">{{ beneficiary.name_of_participant }}</span></h1></h2>
    {% if semcmentoringcoaching_details %}
    <table class="table-container">
      <tr>
        <th>Meeting date</th>
        <th>Provider</th>
        <th>Group name</th>
        <th>Beneficiary</th>
        <th>Region</th>
        <th>District</th>
        <th>Settlement</th>
        <th>Mentor name</th>
        <th>Topic of discussion</th>
        <th>Component</th>
        <th>Action buttons</th>
      </tr>
    
      {% for semcmentoringcoaching_detail in semcmentoringcoaching_details %}
      <tr>
        <td>{{ semcmentoringcoaching_detail.meeting_date }}</td>
        <td>{{ semcmentoringcoaching_detail.provider }}</td>
        <td>{{ semcmentoringcoaching_detail.actual_group }}</td>
        <td>{{ semcmentoringcoaching_detail.beneficiary }}</td>
        <td>{{ semcmentoringcoaching_detail.actual_region }}</td>
        <td>{{ semcmentoringcoaching_detail.actual_district }}</td>
        <td>{{ semcmentoringcoaching_detail.actual_settlement }}</td>
        <td>{{ semcmentoringcoaching_detail.mentor_name }}</td>
        <td>{{ semcmentoringcoaching_detail.topic_of_discussion }}</td>
        <td>{{ semcmentoringcoaching_detail.component }}</td>
        <td class="action-buttons" style="display: flex; font-size: 0.7rem;">
          <a href="{% url 'semc_mentoring_coaching_update' semcmentoringcoaching_detail.pk %}" class="update-button">Update</a>
          <a href="{% url 'semc_mentoring_coaching_delete' semcmentoringcoaching_detail.pk %}" class="delete-button">Delete</a>
          <a href="{% url 'semc_mentoring_coaching_create' beneficiary.pk %}"  class="detail-button"">Add SEMC Coaching Record</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No SEMC Coaching Details available for <span style="color:rgb(13, 168, 60)">{{ beneficiary.name_of_household_head }}</span></h1>.</p>
    <a href="{% url 'semc_mentoring_coaching_create' beneficiary.pk %}"  class="detail-button">Add SEMC Coaching Record</a>
    {% endif %}
  
    
</ul>




<h2 class="section-heading">SEMC Community Mobilization records for <span style="color: rgb(214, 236, 13);">{{ beneficiary.name_of_participant }}</h2>
{% if semccommunityparticipation_details %}
<table class="table-container">
  <tr>
    <th>Meeting date</th>
    <th>Provider</th>
    <th>Group name</th>
    <th>Beneficiary</th>
    <th>Region</th>
    <th>District</th>
    <th>Settlement</th>
    <th>Topic of discussion</th>
    <th>Component</th>
    <th>Action buttons</th>
  </tr>

  {% for semccommunityparticipation_detail in semccommunityparticipation_details %}
  <tr>
    <td>{{ semccommunityparticipation_detail.meeting_date }}</td>
    <td>{{ semccommunityparticipation_detail.provider }}</td>
    <td>{{ semccommunityparticipation_detail.actual_group }}</td>
    <td>{{ semccommunityparticipation_detail.beneficiary }}</td>
    <td>{{ semccommunityparticipation_detail.actual_region }}</td>
    <td>{{ semccommunityparticipation_detail.actual_district }}</td>
    <td>{{ semccommunityparticipation_detail.actual_settlement }}</td>
    <td>{{ semccommunityparticipation_detail.topic_of_discussion }}</td>
    <td>{{ semccommunityparticipation_detail.component }}</td>
    <td class="action-buttons" style="display: flex; font-size: 0.7rem;">
      <a href="{% url 'semccommunityparticipation_update' semccommunityparticipation_detail.pk %}" class="update-button">Update</a>
      <a href="{% url 'semccommunityparticipation_delete' semccommunityparticipation_detail.pk %}" class="delete-button">Delete</a>
      <a href="{% url 'semccommunityparticipation_create' beneficiary.pk %}"  class="detail-button">Add SEMC Community Mobilization Record</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No SEMC Community Participation Details available for <span style="color:rgb(13, 168, 60)">{{ beneficiary.name_of_household_head }}</span></h1>.</p>
<a href="{% url 'semccommunityparticipation_create' beneficiary.pk %}"  class="detail-button">Add SEMC Community Mobilization Record</a>
{% endif %}


</ul>




<h2 class="section-heading">SEMC SBCC records for <span style="color: rgb(214, 236, 13);">{{ beneficiary.name_of_participant }}</h2>
{% if semcsbcc_details %}
<table class="table-container">
  <tr>
    <th>Meeting date</th>
    <th>Provider</th>
    <th>Group name</th>
    <th>Beneficiary</th>
    <th>Region</th>
    <th>District</th>
    <th>Settlement</th>
    <th>Topic of discussion</th>
    <th>Component</th>
    <th>Action buttons</th>
  </tr>

  {% for semcsbcc_detail in semcsbcc_details %}
  <tr>
    <td>{{ semcsbcc_detail.meeting_date }}</td>
    <td>{{ semcsbcc_detail.provider }}</td>
    <td>{{ semcsbcc_detail.group.group.group_name }}</td>
    <td>{{ semcsbcc_detail.beneficiary }}</td>
    <td>{{ semcsbcc_detail.actual_region }}</td>
    <td>{{ semcsbcc_detail.actual_district }}</td>
    <td>{{ semcsbcc_detail.actual_settlement }}</td>
    <td>{{ semcsbcc_detail.topic_of_discussion }}</td>
    <td>{{ semcsbcc_detail.component }}</td>
    <td class="action-buttons" style="display: flex; font-size: 0.7rem;">
      <a href="{% url 'semcsbcc_update' semcsbcc_detail.pk %}" class="update-button">Update</a>
      <a href="{% url 'semcsbcc_delete' semcsbcc_detail.pk %}" class="delete-button">Delete</a>
      <a href="{% url 'semcsbcc_create' beneficiary.pk %}"  class="detail-button"">Add SEMC SBCC Record</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No SEMC SBCC  Details available for <span style="color:rgb(13, 168, 60)">{{ beneficiary.name_of_participant }}</span></h1>.</p>
<a href="{% url 'semcsbcc_create' beneficiary.pk %}"  class="detail-button">Add SEMC SBCC Record</a>
{% endif %}


</ul>
<h2 class="section-heading">SP GFA records for <span style="color: rgb(214, 236, 13);">{{ beneficiary.name_of_participant }}</h2>
{% if spgfa_details %}
<table class="table-container">
  <tr>
    <th>Disbursement date</th>
    <th>Provider</th>
    <th>Group name</th>
    <th>Beneficiary</th>
    <th>Region</th>
    <th>District</th>
    <th>Settlement</th>
    <th>Household Beneficiary </th>
    <th>Transfer value</th>
    <th>Component</th>
    <th>Action buttons</th>
  </tr>

  {% for spgfa_detail in spgfa_details %}
  <tr>
    <td>{{ spgfa_detail.disbursement_date }}</td>
    <td>{{ spgfa_detail.provider }}</td>
    <td>{{ spgfa_detail.actual_group }}</td>
    <td>{{ spgfa_detail.beneficiary }}</td>
    <td>{{ spgfa_detail.actual_region }}</td>
    <td>{{ spgfa_detail.actual_district }}</td>
    <td>{{ spgfa_detail.actual_settlement }}</td>
    <td>{{ spgfa_detail.household_beneficiary_name }}</td>
    <td>{{spgfa_detail.transfer_value}}</td>
    <td>{{ spgfa_detail.component }}</td>
    <td class="action-buttons" style="display: flex; font-size: 0.7rem;">
      <a href="{% url 'spgfa_update' spgfa_detail.pk %}" class="update-button">Update</a>
      <a href="{% url 'spgfa_delete' spgfa_detail.pk %}" class="delete-button">Delete</a>
      <a href="{% url 'spgfa_create' beneficiary.pk %}"  class="detail-button">Add SP GFA Record</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No SP GFA  Details available for <span style="color:rgb(13, 168, 60)">{{ beneficiary.name_of_participant }}</span></h1>.</p>
<a href="{% url 'spgfa_create' beneficiary.pk %}"  class="detail-button">Add SP GFA Record</a>
{% endif %}


</ul>


<!-- <h2  class="section-heading">SP Nutricash records for <span style="color: rgb(50, 47, 235);">{{ beneficiary.name_of_household_head }}</h2>
{% if spnutricash_details %}
<table>
  <tr>
    <th>Disbursement date</th>
    <th>Provider</th>
    <th>Group name</th>
    <th>Beneficiary</th>
    <th>Region</th>
    <th>District</th>
    <th>Settlement</th>
    <th>Household Beneficiary </th>
    <th>Transfer value</th>
    <th>Component</th>
    <th>Action buttons</th>
  </tr>

  {% for spnutricash_detail in spnutricash_details %}
  <tr>
    <td>{{ spnutricash_detail.disbursement_date }}</td>
    <td>{{ spnutricash_detail.provider }}</td>
    <td>{{ spnutricash_detail.group.group_name }}</td>
    <td>{{ spnutricash_detail.beneficiary }}</td>
    <td>{{ spnutricash_detail.region }}</td>
    <td>{{ spnutricash_detail.district }}</td>
    <td>{{ spnutricash_detail.settlement }}</td>
    <td>{{ spnutricash_detail.household_beneficiary_name }}</td>    
    <td>{{spnutricash_detail.transfer_value}}</td>
    <td>{{ spnutricash_detail.component }}</td>
    <td class="action-buttons" style="display: flex; font-size: 0.7rem;">
      <a href="{% url 'spnutricash_update' spnutricash_detail.pk %}" class="update-button">Update</a>
      <a href="{% url 'spnutricash_delete' spnutricash_detail.pk %}" class="delete-button">Delete</a>
      <a href="{% url 'spnutricash_create' beneficiary.pk %}"  class="semc_create-button">Add SP Nutricash Record</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No SP Nutricash Details available for <span style="color:rgb(13, 168, 60)">{{ beneficiary.name_of_household_head }}</span></h1>.</p>
<a href="{% url 'spnutricash_create' beneficiary.pk %}"  class="semc_create-button2">Add SP Nutricash Record</a>
{% endif %} -->


<!-- <h2  class="section-heading">SP SAGE records for <span style="color: rgb(50, 47, 235);">{{ beneficiary.name_of_household_head }}</h2>
{% if spsage_details %}
<table>
  <tr>
    <th>Disbursement date</th>
    <th>Provider</th>
    <th>Group name</th>
    <th>Beneficiary</th>
    <th>Region</th>
    <th>District</th>
    <th>Settlement</th>
    <th>Household Beneficiary </th>
    <th>Transfer value</th>
    <th>Component</th>
    <th>Action buttons</th>
  </tr>

  {% for spsage_detail in spsage_details %}
  <tr>
    <td>{{ spsage_detail.disbursement_date }}</td>
    <td>{{ spsage_detail.provider }}</td>
    <td>{{ spsage_detail.group.group_name }}</td>
    <td>{{ spsage_detail.beneficiary }}</td>
    <td>{{ spsage_detail.region }}</td>
    <td>{{ spsage_detail.district }}</td>
    <td>{{ spsage_detail.settlement }}</td>
    <td>{{ spsage_detail.household_beneficiary_name }}</td>    
    <td>{{spsage_detail.transfer_value}}</td>
    <td>{{ spsage_detail.component }}</td>
    <td class="action-buttons" style="display: flex; font-size: 0.7rem;">
      <a href="{% url 'spsage_update' spsage_detail.pk %}" class="update-button">Update</a>
      <a href="{% url 'spsage_delete' spsage_detail.pk %}" class="delete-button">Delete</a>
      <a href="{% url 'spsage_create' beneficiary.pk %}"  class="semc_create-button">Add SP SAGE Record</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No SP SAGE Details available for <span style="color:rgb(228, 46, 22)">{{ beneficiary.name_of_household_head }}</span></h1>.</p>
<a href="{% url 'spsage_create' beneficiary.pk %}"  class="semc_create-button2">Add SP SAGE Record</a>
{% endif %} -->


{% if beneficiary.lpd_component == 'On-farm' %} 
  <h2 class="section-heading">LPD On-Farm records for <span style="color: rgb(214, 236, 13);">{{ beneficiary.name_of_participant }}</h2>
 
    {% if lpdonfarm_details %}
      <table class="table-container">
        <tr>
          <th>Value date</th>
          <th>Provider</th>
          <th>Group name</th>
          <th>Beneficiary</th>
          <th>Region</th>
          <th>District</th>
          <th>Settlement</th>
          <th>On-Farm component received </th>  
          <th>Component</th>
          <th>Action buttons</th>
        </tr>

        {% for lpdonfarm_detail in lpdonfarm_details %}
        <tr>
          <td>{{ lpdonfarm_detail.value_date }}</td>
          <td>{{ lpdonfarm_detail.provider }}</td>
          <td>{{ lpdonfarm_detail.actual_group }}</td>
          <td>{{ lpdonfarm_detail.name_of_participant }}</td>
          <td>{{ lpdonfarm_detail.actual_region }}</td>
          <td>{{ lpdonfarm_detail.actual_district }}</td>
          <td>{{ lpdonfarm_detail.actual_settlement }}</td>
          <td>{{ lpdonfarm_detail.Onfarm_component_received }}</td>
          <td>{{ lpdonfarm_detail.component }}</td>
          <td class="action-buttons" style="display: flex; font-size: 0.7rem;">
            <a href="{% url 'lpdonfarm_update' lpdonfarm_detail.pk %}" class="update-button">Update</a>
            <a href="{% url 'lpdonfarm_delete' lpdonfarm_detail.pk %}" class="delete-button">Delete</a>
            <a href="{% url 'lpdonfarm_create' beneficiary.pk %}"  class="detail-button">Add LPD On-Farm Record</a>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>No LPD On-Farm Details available for <span style="color:rgb(238, 211, 89)">{{ beneficiary.name_of_participant }}</span></h1>.</p>
      <a href="{% url 'lpdonfarm_create' beneficiary.pk %}"  class="detail-button">Add LPD On-Farm Record</a>
    {% endif %}
{% endif %}


{% if beneficiary.lpd_component == 'Off-farm' %} 
    <h2 class="section-heading">LPD Off-Farm records for <span style="color: rgb(214, 236, 13);">{{ beneficiary.name_of_participant }}</h2>
    {% if lpdofffarm_details %}
    <table class="table-container">
      <tr>
        <th>Value date</th>
        <th>Provider</th>
        <th>Group name</th>
        <th>Beneficiary</th>
        <th>Region</th>
        <th>District</th>
        <th>Settlement</th>
        <th>Off-Farm Software component received </th>  
        <th>Off-Farm Hardware component received </th>  
        <th>Component</th>
        <th>Action buttons</th>
      </tr>

      {% for lpdofffarm_detail in lpdofffarm_details %}
      <tr>
        <td>{{ lpdofffarm_detail.value_date }}</td>
        <td>{{ lpdofffarm_detail.provider }}</td>
        <td>{{ lpdofffarm_detail.actual_group }}</td>
        <td>{{ lpdofffarm_detail.name_of_participant }}</td>
        <td>{{ lpdofffarm_detail.actual_region }}</td>
        <td>{{ lpdofffarm_detail.actual_district }}</td>
        <td>{{ lpdofffarm_detail.actual_settlement }}</td>
        <td>{{ lpdofffarm_detail.Offfarm_Software_component_received }}</td>
        <td>{{ lpdofffarm_detail.Offfarm_Hardware_component_received }}</td>
        <td>{{ lpdofffarm_detail.component }}</td>
        <td class="action-buttons" style="display: flex; font-size: 0.7rem;">
          <a href="{% url 'lpdofffarm_update' lpdofffarm_detail.pk %}" class="update-button">Update</a>
          <a href="{% url 'lpdofffarm_delete' lpdofffarm_detail.pk %}" class="delete-button">Delete</a>
          <a href="{% url 'lpdofffarm_create' beneficiary.pk %}"  class="detail-button">Add LPD Off-Farm Record</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No LPD off-Farm Details available for <span style="color:rgb(238, 211, 89);">{{ beneficiary.name_of_participant }}</span></h1>.</p>
    <a href="{% url 'lpdofffarm_create' beneficiary.pk %}"  class="detail-button">Add LPD Off-Farm Record</a>
    {% endif %}
{% endif %}


{% if beneficiary.lpd_component == 'Non-farm' %} 
      <h2 class="section-heading">LPD Non-Farm records for <span style="color: rgb(214, 236, 13);">{{ beneficiary.name_of_participant }}</h2>
      {% if lpdnonfarm_details %}
      <table class="table-container">
        <tr>
          <th>Value date</th>
          <th>Provider</th>
          <th>Group name</th>
          <th>Beneficiary</th>
          <th>Region</th>
          <th>District</th>
          <th>Settlement</th>
          <th>Non-Farm Software component received </th>  
          <th>Non-Farm Hardware component received </th>  
          <th>Component</th>
          <th>Action buttons</th>
        </tr>

        {% for lpdnonfarm_detail in lpdnonfarm_details %}
        <tr>
          <td>{{ lpdnonfarm_detail.value_date }}</td>
          <td>{{ lpdnonfarm_detail.provider }}</td>
          <td>{{ lpdnonfarm_detail.actual_group }}</td>
          <td>{{ lpdnonfarm_detail.beneficiary }}</td>
          <td>{{ lpdnonfarm_detail.actual_region }}</td>
          <td>{{ lpdnonfarm_detail.actual_district }}</td>
          <td>{{ lpdnonfarm_detail.actual_settlement }}</td>
          <td>{{ lpdnonfarm_detail.nonfarm_Software_component_received }}</td>
          <td>{{ lpdnonfarm_detail.nonOfffarm_Hardware_component_received }}</td>
          <td>{{ lpdnonfarm_detail.component }}</td>
          <td class="action-buttons" style="display: flex; font-size: 0.7rem;">
            <a href="{% url 'lpdnonfarm_update' lpdnonfarm_detail.pk %}" class="update-button">Update</a>
            <a href="{% url 'lpdnonfarm_delete' lpdnonfarm_detail.pk %}" class="delete-button">Delete</a>
            <a href="{% url 'lpdnonfarm_create' beneficiary.pk %}"  class="detail-button">Add LPD Non-Farm Record</a>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>No LPD Non-Farm Details available for <span style="color:rgb(13, 168, 60)">{{ beneficiary.name_of_participant }}</span></h1>.</p>
      <a href="{% url 'lpdnonfarm_create' beneficiary.pk %}"  class="detail-button">Add LPD Non-Farm Record</a>
      {% endif %}
{% endif %}



{% load static %}

<script>
  // Get the beneficiary ID from the HTML data attribute
  const beneficiaryId = "{{ beneficiary.id }}";

  // Construct the URL with the beneficiary ID
  const url = `/get_beneficiary_details/${beneficiaryId}/`;

  // Fetch data from the constructed URL
  fetch(url)
    .then(response => response.json())
    .then(data => {
      const nutricashCount = data.nutricash_details_count;
      const sageCount = data.sage_details_count;
      const finlitCount = data.finlit_details_count;
      
      // Calculate the total count
      const totalCount = nutricashCount + sageCount + finlitCount;
      
      // Calculate the progress percentage
      const progressPercentage = (totalCount / 100) * 100;
      
      // Update the progress bar
      const progressBar = document.querySelector('.progress');
      progressBar.style.width = `${progressPercentage}%`;
      progressBar.textContent = `${progressPercentage}%`;
    })
    .catch(error => {
      console.error('Error fetching beneficiary details:', error);
    });
</script>

<div class="progress-bar">
  <div class="progress" style="width: 0%;">0%</div>
</div>












</body>






</ul>
</body>
</html>
{% endblock %}