{% extends 'base.html' %}
{% load static %}

{% block content %}
<!doctype html>

<head>
    <title>Beneficiary/Participant Enrollment</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <script src="(link unavailable)"></script>
    <script type="module" src="{% static 'js/index.js' %}"></script>

</head>
<body>
  <h1>Enroll Beneficiary</h1>
  <form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}

        {% if form.errors %}
        <tr>
            <td colspan="2">
                <div class="alert alert-danger">
                    <strong>Error:</strong> There are errors in the form. Please correct them and try again.
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li>{{ field }}: {{ errors.0 }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </td>
        </tr>
        {% endif %}
    </table>

    <div class="form-submit">
        <button type="submit" class="submit-button">Submit</button>
    </div>
  </form>
</body>
</html>
{% endblock %}
