<style>
    .form-container {
        max-width: 600px;
        padding: 20px;
        margin: 40px auto;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-group {
        margin-bottom: 20px;
    }
    label {
        display: block;
        margin-bottom: 10px;
    }
    input, select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
    }
    .submit-button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .submit-button:hover {
        background-color: #3e8e41;
    }
    .messages {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        background-color: #f5f5f5;
    }
    .messages li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    .messages li.success {
        color: #155724;
        background-color: #c7f5d9;
        border-color: #c7f5d9;
    }
    .messages li.error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
</style>


<h1 style="font-family: Calibri, sans-serif; text-align: center;">SP Nutricash Details</h1>
<form method="POST" class="form-container">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
    </div>
    <div class="form-submit">
        <button type="submit" class="submit-button">Submit</button>
    </div>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

